
@media (min-width:1300px) {
    .container {
        max-width:1300px;
    }
}

.breadcrumb {
    background-color: rgba(233, 236, 239, 0);
}
.breadcrumb-item + .breadcrumb-item::before {
     content:">";
 }
/*.btn-bs{*/
    /*height:20px;width: 150px;*/
    /*line-height: 20px;*/
/*}*/
a{
    color: #000000;
}
.my-pb{
    padding:0 0 44px 0;
}
.my-border{
    border:1px solid rgba(85, 85, 85, 0.28);
}
.outer2{
    overflow: hidden;
    text-overflow: ellipsis;
    /*设置成弹性盒子 */
    display: -webkit-box;
    /*显示的个数 */
    -webkit-line-clamp: 2;
    /* 属性规定框的子元素应该被水平或垂直排列。 */
    -webkit-box-orient: vertical;
}
.outer1{
    overflow: hidden;
    text-overflow: ellipsis;
    /*设置成弹性盒子 */
    display: -webkit-box;
    /*显示的个数 */
    -webkit-line-clamp: 1;
    /* 属性规定框的子元素应该被水平或垂直排列。 */
    -webkit-box-orient: vertical;
}
@media (max-width: 991px) {
.mediaHf{
    display: none;
}
}
@media (max-width: 991px) {
    .mediaHf{
        display: none;
    }
}
.size-color1{
    color:#fff;
}
.size-color1:hover{
    background: #fff;
    color:#000;
    text-decoration: none;
    border:1px solid #000;
}
.my_money1{
    width:55%;
    height:36px;
    line-height:36px;
    background:#000;
}
@media (min-width: 991px) {
    .hide1{
        display: none;
    }
}





a{
    color: #000000;
    text-decoration:none ;
}

@media (min-width:992px) {
    .light-color:hover {
        opacity: 0.6;
    }}

@media(min-width:992px) {
    .light-color-top{
        display: none;
    }
}
@media(max-width:991px) {
    .small-button-hide{
        display: none;
    }
}
.mt-t1{
    width:70%;
    height:40px;
    line-height:40px;
    background-color: #000;
    color:#fff;
    margin:auto;
}

.mt-t2{
    width:70%;
    height:40px;
    line-height:40px;
    background-color: #fff;
    color:#000;
    margin:auto;
}
.size-color3:hover{
    background-color: #fff;
    color:#000;
}
.size-color4{
    color:#fff;
}
.size-color4:hover{
    color:#000;
    text-decoration: none;

}
.size-color5{
    color:#000;
}
.size-color5:hover{
    color:#fff;
    text-decoration: none;
}
.size-color6:hover{
    background-color: #000;
    color:#fff;
}
.my_border{
    border:1px solid #000;
}
.shop .iconfiont{
    font-family: "iconfont" !important;
    font-size: 35px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}